.movies-liked {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    padding: 1em;
}

.movies-liked-container .movies-liked-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    width: 80%;
}

@media screen and (max-width: 767px) {
    .movies-liked {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        padding: 1em;
    }

    .movies-liked-container .movies-liked-header {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1em;
        width: 80%;
    }
}