.movies-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.movies-container h2 {
    font-size: 45px;
}

.movies-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem;
}

.movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    list-style: none;
}

.movies-list li {
    width: 100%;
}